<footer>
  <div class="copyright">
    <div class="container align-center">
      <p>
        <img class="logo" src="{{{global.img_logo_footer}}}">
      </p>
      <p>{{global.footer.copyright}}</p>
      <p class="vertex"><a href="https://www.vertex360.co/" target="_blank"><img src="https://lh3.googleusercontent.com/KRgl2H7ixmHNcTQpx_VEytO6B7fsoyjJwpxsLYzzMtFjN2448J77wgzRx7WKwwQpY2z2H_lLhieBVXB-TYYpuVxwdmY"/></a></p>
    </div>
  </div>
</footer>
