<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <i class="toggle fas fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/">
                <img class="logo" src="{{{global.img_logo_nav}}}" class="d-inline-block align-top" alt="">
            </a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
               <div class="navbar-nav ml-auto">
                    {{#global.header_nav.home.show_or_hide}}
                        <a class="nav-item nav-link" href="/">{{global.header_nav.home.text}}</a>
                    {{/global.header_nav.home.show_or_hide}}

                    {{#global.header_nav.blog.show_or_hide}}
                        <a class="nav-item nav-link" href="/blog">{{global.header_nav.blog.text}}</a>
                    {{/global.header_nav.blog.show_or_hide}}

                    {{#global.header_nav.home2.show_or_hide}}
                        <a class="nav-item nav-link" href="/index-2">{{global.header_nav.home2.text}}</a>
                    {{/global.header_nav.home2.show_or_hide}}

                    {{#global.header_nav.home3.show_or_hide}}
                        <a class="nav-item nav-link" href="/index-3">{{global.header_nav.home3.text}}</a>
                    {{/global.header_nav.home3.show_or_hide}}
                    <span><a href="#register" class="register-btn"><button class="btn btn-sm btn-blue">{{global.header_nav.btn_text}}</button></a></span>
                </div>         
            </div>
        </div>
    </nav> 
    <nav class="navbar fixed-top navbar-expand-lg" id="navbar-top">
        <div class="container">
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <i class="toggle fas fa-bars"></i>
            </button>
             <a class="navbar-brand" href="/">
                <img class="logo" src="{{{global.img_logo_nav}}}" class="d-inline-block align-top" alt="">
            </a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    {{#global.header_nav.home.show_or_hide}}
                        <a class="nav-item nav-link" href="/">{{global.header_nav.home.text}}</a>
                    {{/global.header_nav.home.show_or_hide}}

                    {{#global.header_nav.blog.show_or_hide}}
                        <a class="nav-item nav-link" href="/blog">{{global.header_nav.blog.text}}</a>
                    {{/global.header_nav.blog.show_or_hide}}

                    {{#global.header_nav.home2.show_or_hide}}
                        <a class="nav-item nav-link" href="/index-2">{{global.header_nav.home2.text}}</a>
                    {{/global.header_nav.home2.show_or_hide}}

                    {{#global.header_nav.home3.show_or_hide}}
                        <a class="nav-item nav-link" href="/index-3">{{global.header_nav.home3.text}}</a>
                    {{/global.header_nav.home3.show_or_hide}}
                    <span><a href="#register" class="register-btn"><button class="btn btn-sm btn-blue">{{global.header_nav.btn_text}}</button></a></span>
                </div>           
            </div>
        </div>
    </nav> 
</header>