<div class="container-fluid subscribe align-center">
	<div class="section-title align-center">
		<div class="half-width">
			<p class="sub m-bottom-half"><span>{{global.subscribe.sub}}</span></p>
			<h2 class="m-bottom-half">{{global.subscribe.title}}</h2>
			<p class="desc">{{global.subscribe.desc}}</p>
			<form>
				<div class="input-group mb-3">
					<input type="text" class="form-control" placeholder="Enter your email address">
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" type="button">{{global.subscribe.btn}}</button>
					</div>
				</div>
			</form>
		</div>
		<div class="promo">
			<p>{{global.subscribe.promo}}</p>
		</div>
		<p class="mobile"><img src="{{{global.subscribe.img}}}"></p>
	</div>
</div>