<!doctype html>
<html lang="en">
	{{>head}}
	<link href="/css/blog.css" rel="stylesheet">
  	</head>

	<body>

		{{>header}}

		<div class="container">
			<div class="row">
				<div class="row blog-row">
					{{#posts}}
						<div class="col-md-4 col-sm-12 post">
							<p><a href="/post/{{slug}}"><img src={{{image}}}></a></p>
							<p class="date gray">{{dateString}}</p>
							<h3><a href="/post/{{slug}}">{{title}}</a></h3>
							<p class="gray">{{preview}}</p>
						</div>	
					{{/posts}}
				</div>
			</div>
		</div>
		{{>subscribe}}

		{{>footer}}

		{{>scripts}}
	</body>
</html>