
<!doctype html>
<html lang="en">
	{{>head}}
  	</head>

	<body>

		{{>header}}

		<section class="hero">
			<div class="row">
				<div class="col-md-7 col-sm-12 hero-left">
					<div class="hero-bg">
						<div class="hero-content">
							<h1 class="hero-title">{{page.hero.title}}</h1>
							<p class="hero-sub">Your company will look</p>
							<p class="hero-sub" id="word"></p>
							<p class="hero-sub blink inline">|</p>
							<p>{{page.hero.sub2}}</p>
							<p class="btn-sub">
								<button class="btn btn-md btn-started">{{page.hero.btn}}</button>
								<span class="play"><a href="#"><i class="fas fa-play"></i></a></span>
								<a href="#">{{page.hero.link}}</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="container">
			<section class="section1">
				<div class="section-title align-center">
					<div class="half-width">
						<p class="sub m-bottom-half"><span>{{page.section1.sub}}</span></p>
						<h2 class="m-bottom-half">{{page.section1.title}}</h2>
					</div>
				</div>
				<div class="row section1-list m-top-4">
					{{#page.section1.list}}
						<div class="col-md-4 col-sm-12 align-center">
							<p><span style="background: {{icon-bg}}";><i class="{{icon}}" style="{{style}}"></i></span></p>
							<h3>{{title}}</h3>
							<p class="gray">{{sub}}</p>
						</div>
					{{/page.section1.list}}
				</div>
				<div class="half-width align-center">
					<h3 class="m-top-4">{{page.section1.desc}} <span class="font-normal"> {{page.section1.desc2}}</span></h3>
				</div>
				<p class="m-top-2 align-center"><img src="{{{page.section1.img}}}"></p>
				<p class="align-center gray font-small note">{{page.section1.note}}</p>
			</section>

			<section class="section2 m-top-4">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="section-title">
							<p class="sub m-bottom-half"><span>{{page.section2.sub}}</span></p>
							<h2 class="m-bottom-half">{{page.section2.title}}</h2>
							<p class="gray">{{page.section2.desc}}</p>
						</div>
						<div class="btn-group btn-plan m-top-2" role="group">
							<button type="button" class="btn btn-secondary active" id="1">Monthly</button>
							<button type="button" class="btn btn-secondary" id="2">Yearly</button>
						</div>
					</div>
					<div class="col-lg-8 col-md-12 col-sm-12 monthly-section" id="div1">
						<div class="row">
							{{#page.section2.price}}
								<div class="{{class}}">
									<div class="price-box">
										<div class="head">
											<h3>{{title}}</h3>
											<p><span>$</span><span>{{amount}}</span><span>/month</span></p>
										</div>
										<ul class="price-list">
											{{#list}}
												<li><span><i class="fas fa-check"></i></span>{{text}}</li>
											{{/list}}
										</ul>
										<p class="align-center btn-read">
											<button class="btn btn-md btn-started">{{page.hero.btn}}</button>
										</p>
									</div>
								</div>
							{{/page.section2.price}}
						</div>
						<p class="align-center gray font-small note">{{page.section2.terms}}</p>
					</div>
					<div class="col-lg-8 col-md-12 col-sm-12 monthly-section" id="div2">
						<div class="row">
							{{#page.section2.price}}
								<div class="{{class}}">
									<div class="price-box">
										<div class="head">
											<h3>{{title}}</h3>
											<p><span>$</span><span>{{amount2}}</span><span>/month</span></p>
										</div>
										<ul class="price-list">
											{{#list}}
												<li><span><i class="fas fa-check"></i></span>{{text}}</li>
											{{/list}}
										</ul>
										<p class="align-center btn-read">
											<button class="btn btn-md btn-started">{{page.hero.btn}}</button>
										</p>
									</div>
								</div>
							{{/page.section2.price}}
						</div>
						<p class="align-center gray font-small note">{{page.section2.terms}}</p>
					</div>
				</div>
			</section>
		</div>

		<div class="container-fluid section3-bg">
			<section class="section3 m-top-4">
				<div class="section-title align-center">
					<div class="half-width">
						<p class="sub m-bottom-half"><span>{{page.section3.sub}}</span></p>
						<h2 class="m-bottom-half">{{page.section3.title}}</h2>
						<p class="gray">{{page.section3.desc}}</p>
					</div>
				</div>

				<div class="row m-top-4 carousel-list">
					{{#page.section3.list}}
					<div class="col-md-4 col-sm-12">
						<div class="{{class1}}" style="{{style}}">
							{{#content}}
							<div class="content">	
							{{/content}}
								<p class="slider-title">{{title}}</p>
								<p class="name"><strong>{{name}}</strong></p>
								<img src="{{{img}}}">
								{{#btn}}
									<p class="m-top-1"><button class="btn btn-md btn-started">{{btn}}</button></p>
								{{/btn}}
							{{#content}}
							</div>
							{{/content}}
						</div>
					</div>
					{{/page.section3.list}}
				</div>

			</section>
		</div>

		{{>footer}}

		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/custom.js"></script>

	</body>
</html>