<!doctype html>
<html lang="en">
	{{>head}}
	<link href="css/single.css" rel="stylesheet">
  	</head>

	<body>

		{{>header}}

		<div class="container">
			
		</div>
		{{>subscribe}}
		{{>footer}}

		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/navbar.js"></script>
	</body>
</html>