<!doctype html>
<html lang="en">
	{{>head}}
	<link href="css/single.css" rel="stylesheet">
	<link href="css/slick.css" rel="stylesheet">
	<link href="css/slick-theme.css" rel="stylesheet">
				
  	</head>

	<body>

		{{>header}}

		<section class="hero-single">
			<div class="container align-center">
				<h1>{{page.hero.title}}</h1>
				<p class="author">
					<img class="avatar" src="{{{page.hero.img}}}">
					<span><a href="#">{{page.hero.name}}</a></span>
				</p>
			</div>
		</section>

		

		<div class="container">
			<div class="post-body">
				{{#page.body}}
					<p class="gray">{{text}}</p>
				{{/page.body}}
				<h3>{{page.sub1}}</h3>
				<p class="gray">{{page.body2}}</p>
			</div>
			<div class="slider">
				{{#page.slider}}
					<div class="slide">
						<img src="{{{img}}}">
					</div>
				{{/page.slider}}
			</div>
			<div class="post-body">
				{{#page.body3}}
					<p class="gray">{{text}}</p>
				{{/page.body3}}
			</div>
		</div>

		<section class="testimonial align-center">
			<i class="fas fa-quote-left"></i>
			<p><img class="avatar" src="{{{page.testi.img}}}"></p>
			<h4 class="testi-text half-width">{{page.testi.text}}</h4>
			<p class="name">{{page.testi.name}}</p>
		</section>

		<div class="container">
			<div class="post-body">
				{{#page.body3}}
					<p class="gray">{{text}}</p>
				{{/page.body3}}
				<ul class="tag-list align-center">
					{{#page.tags}}
						<li><a href="#">{{text}}</a></li>
					{{/page.tags}}
				</ul>
				<ul class="icon-list align-center">
					{{#page.icons}}
						<li><a href="#"><i class="{{icon}}"></i></a></li>
					{{/page.icons}}
				</ul>
				<div class="author-box">
					<img class="avatar" src="{{{page.hero.img}}}">
					<div>
						<p><a href="#">{{page.author.name}}</a></p>
						<span class="gray font-small">{{page.author.sub}}</span>
						<p class="gray">{{page.author.desc}}</p>
					</div>
				</div>
			</div>
		</div>

		<section class="next-posts">
			<div class="container">
				<div class="row">
					{{#page.posts}}
						<div class="col-md-4 col-sm-12 next-post">
							<p><img src="{{{img}}}"></p>
							<div class="next-body">
								<span class="gray font-small">{{date}}</span>
								<h4>{{title}}</h4>
							</div>
						</div>
					{{/page.posts}}
				</div>
			</div>
		</section>

		{{>subscribe}}
		{{>footer}}

		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/navbar.js"></script>
		<script src="js/slick.js"></script>
		<script src="js/slider.js"></script>
	</body>
</html>